<form method="dialog">
  <h3>Search Roles</h3>
  <div data-controller="search">
    <input 
      type="text"
      list="search-results"
      data-action="input->search#fetchResults"
      data-search-url-value="/search"
      placeholder="Search for items..."
      />
      <datalist id="search-results"></datalist>
  </div>
  <menu>
    <button type="submit">Close</button>
  </menu>
</form>
