<% if result.present? %>
  <% result.map do |r| %>
    <option value="<%= r.identifier %>" class="font-red-300 p-2 rounded-md hover:bg-slate-300">
    <%= r.display_as %>
    </option>
  <% end %>
<% else %>
  <span>No <%= class_name %> matched "<%= query %>"</span>
<% end %>
